@font-face {
    font-display: swap;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/istok-web-v20-latin-regular.eot');
    src: url('../fonts/istok-web-v20-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/istok-web-v20-latin-regular.woff2') format('woff2'), url('../fonts/istok-web-v20-latin-regular.woff') format('woff'), url('../fonts/istok-web-v20-latin-regular.ttf') format('truetype'), url('../fonts/istok-web-v20-latin-regular.svg#IstokWeb') format('svg');
}